.textInCircle {
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    margin-right:10px;
  }

  .selected-day {
    color: white;
    background: green;
  }

  .unselected-day {
    color: white;
    background: red;
  }

  .generic-circle{
  font-size: 10pt;
  margin-right: 10px;
  color:green;
}

.bi-card-text::before{
  color:white;
}

.home-card-header {color:white;}

.shopping-cart table td {
  vertical-align: top !important;
}

.shopping-cart table th {
  padding-bottom:0px;
  padding-top:0px;
  padding-left:9px;
  border: 0;
}

.ec-event{cursor:pointer;}

